<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SalaryCalculator</title>
</head>
<body>
<div>
    <input id="overall" type="number" step="any" placeholder="overall">

    <input id="dependents" type="number" placeholder="dependents">

    <button onclick="netCalculation();">Calculate</button>

    <p id="overallValue"></p>
    <p id="dependentValue"></p>
    <p id="netValue"></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.js"></script>
</div>
<script>
    function netCalculation() {
        //TODO: onchange - w8 till stop typing

        var overall = document.getElementById("overall").value;
        var dependents = document.getElementById("dependents").value;
        document.getElementById("overallValue").innerHTML = "Overall value = " + overall;
        document.getElementById("dependentValue").innerHTML = "Dependent value = " + dependents;

        var request = '/overall/' + overall
                    + '/dependents/' + dependents;

        $.post(request, null, function(response){
            console.log(response);
            document.getElementById("netValue").innerHTML = "Result value = " + response;
        });
    }

</script>
</body>
</html>